<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="watchtower.escaperoom">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClueAct"
            android:launchMode="singleTask"
            android:parentActivityName=".WelcomeAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".FirstClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".SecondClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ThirdClue"
            android:parentActivityName=".ClueAct"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".ForthClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".FifthClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".SixthClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <service android:name=".VibrateService"/>
        <activity android:name=".SeventhClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EighthClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".NinthClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".TenthClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EleventhClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".TwelfthClue"
            android:launchMode="singleTask"
            android:parentActivityName=".ClueAct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>

    </application>


</manifest>